.Contact-wrapper{
    background-image: url('../../images/contact_background.svg');
    padding-top: 80px;
    padding-bottom: 80px;
    h2{
        font-size: 60px;
        color:#fff;
    }
    p{
        font-size: 36px;
    }
}

.Contact-card{
    padding: 25px 0;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#91929c;
    border-radius: 15px;
    opacity: 0.8;
}

.Contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    label{
        text-align: center ;
        padding: 24px;
        font-size: 24px;
    }
    #subject{
        width: 50%;
        height: 36px;
        border-radius: 15px;
        outline: 0;
        border : 1px solid #fff;
        margin-top: 20px;
    }
    #textarea{
        width: 50%;
        border-radius: 15px;
        height: 280px;
        margin-top: 20px;
    }
}

@media (max-width: 768px){
    .Contact-wrapper{
        background-image: url('../../images/contact_small_background.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 40px 12px;
    }
    .Contact-card{
        width: 100%;
    }
    .Contact-form{
        label{
            text-align: center ;
            padding: 24px;
        }
        #subject{
            width: 100%;
        }
        #textarea{
            width: 100%;
        }
    }
}