.About-wrapper{
    background-image: url('/src/images/about_background.svg');
    // background-image: $background;
    margin: 0 auto;
    min-width: 1440px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color:white;
    padding:80px;
    padding-top:150px;
}

.About-title{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;  
    width: 60%;
    gap:105px;
    cursor:default;
    h2{
        font-size: 72px;
        text-align: center;
        margin:0;
    }
    .About-title1{
        width: 50%;
        height: 75%;
        display: flex;
        flex-direction: column;
        p{
            margin: 0;
            margin-top: 50px;
            font-size: 24px;
            line-height: 36px;
            text-indent: 2.5rem;
        }
    }
    .About-title2{
        width: 50%;
        h2{text-align: center;
        }
        h3{
            text-align: center;
        }
    }

}
@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.box1{
    width: 100px;
    height: 100px;
    img{
        width: 100%;
    }
    animation: zoomInOut 4s infinite;
}

.box2{
    width: 100px;
    height: 100px;
    align-self: end;
    img{
        width: 100%;
        transform: rotate(180deg);
    }
    animation: zoomInOut 4s infinite;
}


@media screen and (max-width: 768px){
    .About-wrapper{
        background-image: url('/src/images/about_small_background.svg');
        min-width: 350px;
        height: 90%;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    .box1{
        align-self: start;
    }
    .About-title{
        width: 100%;
        display: flex;
        flex-direction: column;
        .About-title1{
            width: 100%;
            p{
                text-align: center;
            }
        }
        .About-title2{
            width: 100%;
            li{
                margin-bottom:20px;
            }
        }
    }
}