.banner{
    background-image: url('/src/images/background.svg');
    margin: 0 auto;
    min-width: 1440px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #C2DEDC;
    color:white;
    padding:80px;
    padding-top:150px;
}
.banner-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 60%;
    gap:35px;
    cursor:default;
    h1{
        font-size: 72px;
        margin: 0;
        text-align: center;
    }
    h2{
        font-size: 36px;
        margin:0;
    }
    p{
        text-align: center;
        margin: 0;
    }
}
.banner-photo{
    display: flex;
    align-items: center;
    img{
        width: 100%;
        height: 80%;
        filter: brightness(1.2);
    }
}
.btn-color .btn-1::before{
    background-color: lightgray;
}

@media screen and (max-width: 768px) {
    .banner{
        background-image: url('/src/images/small_background.svg');
        min-width: 350px;
        flex-direction: column;
        padding: 40px;
    }
    .banner-title{
        width: 100%;
        align-items: center;
        padding:60px;
        cursor:default;
        h1{
            text-align: center;
            font-size: 36px;
        }   
        h2{
            font-size: 30px;
        }
        p{
            display: none;
        }
    }
    .banner-photo{
        img{
            width: 100%;
            height: 100%;
            filter: brightness(1.2);
        }
    }
}