.projectItemCard{
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1330px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 三列等宽 */
    gap:20px;
}
@for $i from 1 through 7 {
    .card#{$i}{
        border-radius: 15px 15px;
        background-color: #fff;
        img{
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 250px;
        }
        h3{
            text-align: center;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}