.project-wrapper{
    // margin-top: -80px;
    background-image: url('../../images/project_background.svg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.project-title{
    padding-top: 40px;
    h2{
        color:#fff;
        font-size: 48px;
        text-align: center;
    }
}